# Step 1: Preprocessing Data for Training
Missing values are imputed

In [1]:
import pandas as pd
import numpy as np

In [2]:
datafile_name = "EDA_df.csv"
data_filepath = f'./Raw_Data/{datafile_name}'
basis_df = pd.read_csv(data_filepath)

In [3]:
basis_df.columns

Index(['application_number', 'customer_no', 'product_description',
       'loan_account_no', 'requested_loan_amount', 'original_emi_amount',
       'res_years_at_current_city', 'res_resident_status', 'res_city',
       'res_state', 'age', 'date_of_birth', 'manufacturer',
       'down_payment_amount', 'total_income', 'branch_name', 'occupation_type',
       'industry', 'interest_rate', 'number_of_installments',
       'loan_asset_cost', 'bureau_score', 'asset_category', 'asset_model',
       'dealer', 'branch_id', 'channel', 'final_sanctioned_amount',
       'disbursal_amount', 'res_years_at_current_address', 'gender',
       'marital_status', 'nature_of_business', 'years_in_occupation',
       'loan_application_date'],
      dtype='object')

In [4]:
basis_df.isnull().sum()

application_number                  0
customer_no                         0
product_description                 0
loan_account_no                     0
requested_loan_amount               0
original_emi_amount                 0
res_years_at_current_city           0
res_resident_status                 1
res_city                            4
res_state                           0
age                                 0
date_of_birth                       0
manufacturer                        0
down_payment_amount                 0
total_income                        2
branch_name                         0
occupation_type                     1
industry                          360
interest_rate                       0
number_of_installments              0
loan_asset_cost                     0
bureau_score                        0
asset_category                      0
asset_model                         0
dealer                              0
branch_id                           0
channel                             0
final_sanctioned_amount             0
disbursal_amount                    0
res_years_at_current_address        0
gender                              0
marital_status                      0
nature_of_business                419
years_in_occupation             33435
loan_application_date               0
dtype: int64

In [5]:
#load data
datafile_name = datafile_name
data_filepath = f'./Raw_Data/{datafile_name}'
basis_df = pd.read_csv(data_filepath)

#lower case all column names
basis_df.columns = basis_df.columns.str.lower()

#drop missing and zero disbursal_amount      #reason: no disbursal amount
# basis_df = basis_df.dropna(subset = 'disbursal_amount')
# basis_df = basis_df[basis_df.disbursal_amount != 0]

#choose necessary model variables
variables = ['bureau_score', 'product_description','loan_account_no',
             'res_years_at_current_city','res_resident_status','res_city',
             'res_state','age','manufacturer',
             'down_payment_amount','total_income','branch_name',
             'occupation_type', 'industry','interest_rate',
             'number_of_installments','loan_asset_cost','asset_model',
             'channel','res_years_at_current_address','gender',
             'marital_status', 'nature_of_business','years_in_occupation']
#note: no requested_loam_amount (to be confirmed)

df = basis_df[variables].copy()

In [6]:
df = df[df['product_description'] != 'Used Two-Wheeler']
df = df[df['total_income'] >= 1000]
df = df[df['loan_account_no'] != 'TW01010103000002258833']

In [7]:
df.shape

(49681, 24)

In [8]:
print(f'res_resident_status mode: {df.res_resident_status.mode()[0]}')
print(f'res_city mode: {df.res_city.mode()[0]}')
print(f'total_income median: {df.total_income.median()}')
print(f'occupation_type mode: {df.occupation_type.mode()[0]}')
print(f'industry mode: {df.industry.mode()[0]}')
print(f'nature_of_business mode: {df.nature_of_business.mode()[0]}')
print(f'years_in_occupation median: {df.years_in_occupation.median()}')

res_resident_status mode: Owned by Parent /Sibling
res_city mode: MUMBAI
total_income median: 420000.0
occupation_type mode: Salaried
industry mode: Others
nature_of_business mode: Services
years_in_occupation median: 3.0

In [9]:
def standard_format_data(raw_datafilename):
    #load necessary libraries
    import pandas as pd
    import numpy as np
    
    #load data
    datafile_name = raw_datafilename
    data_filepath = f'./Raw_Data/{datafile_name}'
    basis_df = pd.read_csv(data_filepath)

    #lower case all column names
    basis_df.columns = basis_df.columns.str.lower()

    #choose necessary model variables
    variables = ['bureau_score', 'product_description','loan_account_no',
             'res_years_at_current_city','res_resident_status',
             'res_city','res_state','age',
             'manufacturer','down_payment_amount','total_income',
             'branch_name','occupation_type', 'industry',
             'interest_rate','number_of_installments','loan_asset_cost',
             'asset_model','channel','res_years_at_current_address',
             'gender', 'marital_status', 'nature_of_business',
             'years_in_occupation']
    #note: no requested_loam_amount (to be confirmed)
    df = basis_df[variables].copy()

    df = df[df['product_description'] != 'Used Two-Wheeler']
    df = df[df['total_income'] >= 1000]
    df = df[df['loan_account_no'] != 'TW01010103000002258833']

    #fill missing values; imputation using median values
    #cols cannot have missing values: bureau_score
    df['total_income'] = df['total_income'].fillna(df.total_income.median())
    df['monthly_income'] = df['total_income'] / 12 #derived
    df['down_payment_amount'] = df['down_payment_amount'].fillna(df.down_payment_amount.median())
    df['loan_asset_cost'] = df['loan_asset_cost'].fillna(df.loan_asset_cost.median())
    df['dp_ratio'] = df.down_payment_amount/ df.loan_asset_cost #derived

    df['res_resident_status'] = df.res_resident_status.fillna(df.res_resident_status.mode()[0])
    df['res_city'] = df['res_city'].fillna(df.res_city.mode()[0])
    df['occupation_type'] = df['occupation_type'].fillna(df.occupation_type.mode()[0])
    df['industry'] = df['industry'].fillna(df.industry.mode()[0])
    df['nature_of_business'] = df['nature_of_business'].fillna(df.nature_of_business.mode()[0])
    df['years_in_occupation'] = df['years_in_occupation'].fillna(df.years_in_occupation.median())
    
    df['branch_name'] = df['branch_name'].fillna(df.branch_name.mode()[0])
    df['age'] = df['age'].fillna(df.age.median())
    df['number_of_installments'] = df['number_of_installments'].fillna(df.number_of_installments.median())
    df['res_state'] = df['res_state'].fillna(df.res_state.mode()[0])
    df['product_description'] = df['product_description'].fillna(df.product_description.mode()[0])
    df['marital_status'] = df['marital_status'].fillna(df.marital_status.mode()[0])
    df['manufacturer'] = df['manufacturer'].fillna(df.manufacturer.mode()[0])
    
    #standardize values capitalization
    df = df.map(lambda x: x.upper() if isinstance(x, str) else x)
    
    #remove trailing and leading spaces
    obj_cols = list(df.select_dtypes('object'))
    df[obj_cols] = df[obj_cols].apply(lambda category: category.str.strip()) 
    
    #remove spaces in between values, replace with underscore
    df = df.map(lambda x: '_'.join(x.split()) if isinstance(x, str) else x)
    
    #convert to expected numerical datatypes
    float_cols = ['age','dp_ratio', 'down_payment_amount', 
                  'total_income','interest_rate','monthly_income']
    int_cols = ['bureau_score','res_years_at_current_city', 'loan_asset_cost','number_of_installments',
               'res_years_at_current_address','years_in_occupation']
    
    df[int_cols] = df[int_cols].astype(int)
    df[float_cols] = df[float_cols].astype(float)
    standard_df = df.copy()

    return standard_df

In [10]:
standard_data = standard_format_data('EDA_df.csv')
standard_data.to_csv(f'cleaned_{datafile_name}.csv')

In [11]:
standard_data.shape

(49681, 26)

At this point, the column names of the data has been lowercased, while all the categorical values have been capitalized. Spaces were converted to underscores. Data has been imputed; no missing values.

In [12]:
mixed_dtype_columns = [col for col in standard_data.columns if standard_data[col].apply(type).nunique() > 1]
print("Columns with mixed data types:", mixed_dtype_columns)

Columns with mixed data types: []

In [13]:
# #grouping asset_model
# text_list = ['SPLENDOR', 'ACCESS', 'BURGMAN', 'ACTIVA', 'NTORQ', 'JUPITER', 'HF', 'AVENIS']
# # Function to check and assign text or 'Others'
# def check_text(value):
#     value = value.replace('_', ' ')  # Replace underscores with spaces
#     for text in text_list:
#         if text in value:
#             return text
#     return 'Others'

# # Create new column based on the function
# df['asset_model_grp'] = df['asset_model'].apply(check_text)

In [14]:
#df['asset_model_keyword'].value_counts() #21225/52197 ##40% others; 60% keywords

In [15]:
 df['industry'].unique()

array(['Others', 'Apparels', 'Automobiles', 'Industrial equipment',
       'Agriculture', 'Healthcare Providers', 'Food & Beverages',
       'Durables', 'Healthcare', 'Computers', 'Food Products', nan,
       'Transportation Logistics', 'Education Institution',
       'Construction', 'Food Processing', 'Household Products',
       'Non Store Retail', 'Financial Services', 'Transport',
       'Hardware Equipment', 'Textiles', 'Insurance', 'Gen Indl Services',
       'Reliance Industries', 'Chemicals', 'Paper', 'Jewellery',
       'Broadline/ Multiline', 'Software', 'Electronics', 'FMCG',
       'Speciality'], dtype=object)

# Step 2: Data Wrangling for Training

In [16]:
#define a function that wrangles the base standard data
#i.e. grouping categories (crude feature engineering based on IV analysis)

def load_clean_data2(standard_df, segment):
    #load data
    basis_df = standard_df

    #add new target columns
    target_filename =  'tagged_12months_v2.csv'
    target_filepath = f'./Raw_Data/{target_filename}'
    
    new_col12m = pd.read_csv(target_filepath)
    new_col12m = new_col12m.rename(columns={'loan_customer_no':'loan_account_no'})

    merged_df_12m = pd.merge(basis_df, new_col12m, on='loan_account_no')
    full_df = merged_df_12m.copy()

    df = full_df.copy()
    #variable adjustments
    
    #manufacturer - Jan ok
    df['manufacturer_grp'] = np.where(
        (df['manufacturer'] == 'BAJAJ_AUTO') | (df['manufacturer'] == 'YAMAHA')
        | (df['manufacturer'] == 'APRILIA') | (df['manufacturer'] == 'ROYAL_ENFIELD')
        | (df['manufacturer'] == 'PIAGGIO') | (df['manufacturer'] == 'KTM')
        | (df['manufacturer'] == 'JAWA'),
        'OTHERS', df['manufacturer'])
    
    #channel - Jan ok
    df['channel_grp'] = np.where(
        (df['channel'] == 'ALTERNATE_CHANNEL') | (df['channel'] == 'BRANCH')
        | (df['channel'] == 'DIRECT')| (df['channel'] == 'REFERRAL'),
        'NON_DEALER', df['channel'])

    #industry - Jan ok
    df['industry_grp'] = np.where(
        (df['industry'] != 'APPARELS') & (df['industry'] != 'AGRICULTURE'),
        'OTHERS',df['industry'])

    #branch_name - Jan ok
    df['branch_grp'] = np.where(
        (df['branch_name'] == 'EAST_BANGALORE') | (df['branch_name'] == 'SOUTH_DELHI') |
        (df['branch_name'] == 'NORTH_BANGALORE') | (df['branch_name'] == 'EAST_DELHI') |
        (df['branch_name'] == 'NOIDA')| (df['branch_name'] == 'GURGAON')|
        (df['branch_name'] == 'WEST_BANGALORE')| (df['branch_name'] == 'NORTH_DELHI')
        | (df['branch_name'] == 'FARIDABAD'),
            'OTHERS',df['branch_name'])

    #grouping asset_model - Jan ok
    text_list = ['SPLENDOR', 'ACCESS', 'BURGMAN', 'ACTIVA', 'NTORQ', 'JUPITER', 'HF', 'AVENIS']
    # Function to check and assign text or 'Others'
    def check_text(value):
        value = value.replace('_', ' ')  # Replace underscores with spaces
        for text in text_list:
            if text in value:
                return text
        return 'OTHERS'

    # Create new column based on the function
    df['asset_model_grp'] = df['asset_model'].apply(check_text)

    #res_city - Jan oK
    df['res_city_grp'] = np.where(
        (df['res_city'] != 'MUMBAI') & (df['res_city'] != 'THANE')
        & (df['res_city'] != 'BANGALORE')& (df['res_city'] != 'DELHI')
        & (df['res_city'] != 'GHAZIABAD'),
        'OTHERS',df['res_city'])

    #res_state - Jan ok
    df['res_state_grp'] = np.where(
        (df['res_state'] == 'HARYANA') | (df['res_state'] == 'LAKSHADWEEP'),
        'OTHERS',df['res_state'])

    #res_resident_status - Jan ok
    df['res_resident_status_grp'] = np.where(
        (df['res_resident_status'] == 'OWNED_BY_PARENT_/SIBLING') | (df['res_resident_status'] == 'OWNED_BY_SELF/SPOUSE')
        , 'OWNED', df['res_resident_status'])

    df['res_resident_status_grp'] = np.where(
        (df['res_resident_status'] == 'COMPANY_PROVIDED') | (df['res_resident_status'] == 'RENTED')
        | (df['res_resident_status'] == 'HOSTEL')| (df['res_resident_status'] == 'PAYING_GUEST')
        , 'RENTED', df['res_resident_status_grp'])

    #branch_name
    df['nature_of_business'] = np.where(
        (df['nature_of_business'] != 'SERVICES') & (df['nature_of_business'] != 'AGRICULTURE'),
            'OTHERS',df['nature_of_business'])

    working_df = df.copy()
    working_df = working_df.drop(columns = ['manufacturer', 'channel','industry',
                                            'branch_name', 'asset_model','res_city',
                                            'res_state','res_resident_status'])

    #dfs
    if segment == 'NTC':
        df_NTC = working_df[working_df['bureau_score'] < 300]
        df_NTC = df_NTC.drop(columns = ['bureau_score'])
        return df_NTC
    
    elif segment == 'low_CIBIL':
        df_low_CIBIL = working_df[(working_df['bureau_score'] >= 300) & (working_df['bureau_score'] <= 730)]
        df_low_CIBIL = df_low_CIBIL.drop(columns = ['bureau_score'])
        return df_low_CIBIL
    
    elif segment == 'mid_CIBIL':
        df_mid_CIBIL = working_df[(working_df['bureau_score'] >= 731) & (working_df['bureau_score'] <= 749)]
        df_mid_CIBIL = df_mid_CIBIL.drop(columns = ['bureau_score'])
        return df_mid_CIBIL
    
    elif segment == 'high_CIBIL':
        df_high_CIBIL = working_df[working_df['bureau_score'] >= 750]
        df_high_CIBIL = df_high_CIBIL.drop(columns = ['bureau_score'])
        return df_high_CIBIL
        
    else:
        return ('Choose among NTC, low_CIBIL, mid_CIBIL, high_CIBIL')

In [17]:
wrangled_df_NTC = load_clean_data2(standard_data, 'NTC')
wrangled_df_low_CIBIL = load_clean_data2(standard_data, 'low_CIBIL')
wrangled_df_mid_CIBIL = load_clean_data2(standard_data, 'mid_CIBIL')
wrangled_df_high_CIBIL = load_clean_data2(standard_data, 'high_CIBIL')

wrangled_df_NTC.to_csv(f'./Wrangled_Data/wrangled_NTC.csv',index=False)
wrangled_df_low_CIBIL.to_csv(f'./Wrangled_Data/wrangled_low_CIBIL.csv',index=False)
wrangled_df_mid_CIBIL.to_csv(f'./Wrangled_Data/wrangled_mid_CIBIL.csv',index=False)
wrangled_df_high_CIBIL.to_csv(f'./Wrangled_Data/wrangled_high_CIBIL.csv',index=False)

In [18]:
print(wrangled_df_NTC.shape)
print(wrangled_df_low_CIBIL.shape)
print(wrangled_df_mid_CIBIL.shape)
print(wrangled_df_high_CIBIL.shape)

(18278, 26)
(11369, 26)
(7425, 26)
(12609, 26)

In [19]:
18278 + 11369 + 7425 + 12609

49681

In [20]:
basis_df.nature_of_business.unique()

array(['Services', 'Manufacturing', 'Others', 'Agriculture', nan,
       'Trading'], dtype=object)

In [21]:
for col in wrangled_df_NTC.columns:
    print(f'{col}')
    print(f'No. of unique values: {wrangled_df_NTC[col].nunique()}')
    print(f'No. of unique values: {wrangled_df_NTC[col].unique()} \n')

product_description
No. of unique values: 1
No. of unique values: ['TWO-WHEELER']

loan_account_no
No. of unique values: 18278
No. of unique values: ['TW01010102000002232820' 'TW01010104000002231508'
 'TW01030105000002242335' ... 'TW01030101000002280247'
 'TW01020103000002281621' 'TW01010107000002248785']

res_years_at_current_city
No. of unique values: 70
No. of unique values: [ 50  13  20  15  30  12  23   5   0   1  22  26  36   9  40  35   6  10
  31  34  24  28   2  32  44  54  49  16  27   8  37   7  25  21  48   4
  29  60  38  42  39  46   3  53  33  41  18  14  17  47  45  43  51  11
  62  56  57  88  19  55  59  58  52 208  75 201  63 244  65  70]

age
No. of unique values: 8813
No. of unique values: [50.27197802 32.68406593 22.38736264 ... 38.81593407 46.65384615
 34.36538462]

down_payment_amount
No. of unique values: 5153
No. of unique values: [39817. 10600. 45446. ... 11573.  9004. 41545.]

total_income
No. of unique values: 418
No. of unique values: [ 960000.  360000.  456000.  420000.  600000.  350000.  396000.  432000.
  860000.  455000.  390000.  480000.  400000.  384000.  868000.  444000.
  900000.  950000.  354000.  318000.  540000.  336000.  300000.  560000.
  380000. 2000000.  450000.  500000. 1300000.  250000.  312000.  750000.
  588000.  346800.  330000.  470000.  288000.  700000.  320000. 1200000.
  460000.  550000.  324000. 1080000.  370000.  372000.  421000. 1400000.
  426000.   35000.  586800.  430000.  310000.  270000.  468000. 1800000.
  650000.  720000.  717600.  264000.  462000.  780000.  400800.  504000.
  342000.  510000.  850000.  520000.  799000. 1000000.  375000.  660000.
 5160000.  530000.  418000.  321600.  348000.  580000.  276000. 2400000.
 1500000.  870000.  240000. 1050000.  898000.  525000.  440000.  365000.
  800000.  576000.  305000.  408000.  350400.  481000.  728000.  410000.
  997000. 1100000.  528000. 5400000.  597600.  820000.  840000. 1042800.
  307200.  895000.  325000.  369000. 1700000.  482000.  282000.  294000.
  355555.  680000.  252000.  985000. 1020000.  306000.  899000.  620000.
  490000.  885000.  378000.  262000. 1600000.  291600.  798000.  615000.
  412000.  425000.  463200. 4200000.  785000.  910000.  541000.  393600.
  552000.  433008.  389000.  825000.  392000.  435000.  345000.  492000.
  648000.  453360.  333600.  760000.  366000.  477600.  309600.  362400.
  682800.  978000.  890000.  485000. 5000000.  684000.  590000.  340000.
  355000.  365632.  681600.  280800.  725000.  258000. 3700000.  912000.
  339600.  216000.  368000.  395000.  381600.  495600.  516000. 1900000.
   30000.  624000. 7200000.  618000.  830000.  263000.  429000.  789000.
  740000.  397000.  280000. 3600000.  338400.  430800.  744000.  431000.
  356400.  423655.  628000.  445000.  865000.  635000.  391200.  775000.
  308400.  790000.  304488.  999000.  420108.  880000.  787000.  446000.
  246000.  415000.  357600.  897000. 4800000.  487000.  345600.  353160.
  410400.  755000.  990000.  461000.  366708.  331200.  536000.  555000.
  561600.  414000.  422000. 5760000.  589000.  302400.  564000.  625000.
  385000.  399000.  970000.  390720.  735000.  607200.  394800.  753600.
  320400.  594000.  344400.  388000.  889000.   37000.  610000.  398000.
  920000.  368226.  495000.  489000.   85000.  685000. 1040000. 1010000.
  640000.  440086. 2213646.  234000.  278400.  636000. 1060000.  355200.
  957600.  696000. 8500000. 1161600.  438000. 7500000.  228000.  396542.
  548000.  334000.  867000.  335000.  498000. 5040000.  980000.  299000.
 1920000.  489600.  402000.  456321.  512489.  297600.  314000.  180000.
  237600.  260000.   20000.  810000.   36000.  356987.  290000. 4320000.
  428000.  542000.  200000.  713000.  837600. 3000000. 1085000.  417960.
  788000. 8000000.   25000.  454800.  790800.  356000.  192000.  316800.
  710000.  376000.  538000.  204000. 5520000.  238800.  351600.  422400.
  304800.  298000.  368956. 1070000.  311000.  398400.  467459.  879000.
  144000. 3500000.  344000.  423656.  826800.  421563.  196800.  792000.
  100000.  546000.  899980.  349000.  222000.  322000.  295200.  432589.
  301000.  573000.  412568.  452400.  427200.  584400.  394080.  478800.
  997500.  986000.  488772.  354720.  896000.  248400. 4680000.  313000.
  380500.  315000.  295000.  402569.  429600.  367000.  549600.  379000.
  343200.  543000.  396853.  210000.  465600.  402960.  476400.  801600.
  886000.  290400.  261600.   40000. 3120000.  358000.  387000.  466800.
 2160000.   60000.   38000.  657600.  284400.  514000.  405000.  730800.
  278000.  708000.  442015. 4250000.  303000.  259200. 6000000. 1250000.
  568255.  374256.  676000.  789600.  493200.  452633.  404400.  961000.
  768000. 1104000.   10000.  241000.  782000.  547896.  573600.  486000.
  456895.  453600.]

occupation_type
No. of unique values: 3
No. of unique values: ['SELF_EMPLOYED_NON_PROFESSIONAL' 'SALARIED' 'SELF_EMPLOYED_PROFESSIONAL']

interest_rate
No. of unique values: 9
No. of unique values: [11.5  11.29 11.99 10.99 11.75 11.88 12.99 12.5  11.76]

number_of_installments
No. of unique values: 6
No. of unique values: [36 12 30 24 18 48]

loan_asset_cost
No. of unique values: 2413
No. of unique values: [126817  99600 117446 ... 170500 125874 110078]

res_years_at_current_address
No. of unique values: 66
No. of unique values: [50 13 15 30 12 18  5  0  1 21 20 22 10  4 26  3  8 36  2  9 23  6 31 34
 24 28 32 44 54 16 49 27 37  7 25 35 48 40 38 42 46 53 33 29 41 39 14 47
 11 45 43 51 62 17 56 57 55 59 19 52 58 75 60 63 65 70]

gender
No. of unique values: 2
No. of unique values: ['MALE' 'FEMALE']

marital_status
No. of unique values: 3
No. of unique values: ['MARRIED' 'SINGLE' 'DIVORCED']

nature_of_business
No. of unique values: 3
No. of unique values: ['SERVICES' 'OTHERS' 'AGRICULTURE']

years_in_occupation
No. of unique values: 36
No. of unique values: [ 4  3  2  5 10  1  6  8  9 19 13 20 15 16 12  7 14 35 11 17 18 30  0 25
 22 26 24 31 33 23 40 29 32 21 27 28]

monthly_income
No. of unique values: 418
No. of unique values: [ 80000.          30000.          38000.          35000.
  50000.          29166.66666667  33000.          36000.
  71666.66666667  37916.66666667  32500.          40000.
  33333.33333333  32000.          72333.33333333  37000.
  75000.          79166.66666667  29500.          26500.
  45000.          28000.          25000.          46666.66666667
  31666.66666667 166666.66666667  37500.          41666.66666667
 108333.33333333  20833.33333333  26000.          62500.
  49000.          28900.          27500.          39166.66666667
  24000.          58333.33333333  26666.66666667 100000.
  38333.33333333  45833.33333333  27000.          90000.
  30833.33333333  31000.          35083.33333333 116666.66666667
  35500.           2916.66666667  48900.          35833.33333333
  25833.33333333  22500.          39000.         150000.
  54166.66666667  60000.          59800.          22000.
  38500.          65000.          33400.          42000.
  28500.          42500.          70833.33333333  43333.33333333
  66583.33333333  83333.33333333  31250.          55000.
 430000.          44166.66666667  34833.33333333  26800.
  29000.          48333.33333333  23000.         200000.
 125000.          72500.          20000.          87500.
  74833.33333333  43750.          36666.66666667  30416.66666667
  66666.66666667  48000.          25416.66666667  34000.
  29200.          40083.33333333  60666.66666667  34166.66666667
  83083.33333333  91666.66666667  44000.         450000.
  49800.          68333.33333333  70000.          86900.
  25600.          74583.33333333  27083.33333333  30750.
 141666.66666667  40166.66666667  23500.          24500.
  29629.58333333  56666.66666667  21000.          82083.33333333
  85000.          25500.          74916.66666667  51666.66666667
  40833.33333333  73750.          31500.          21833.33333333
 133333.33333333  24300.          66500.          51250.
  34333.33333333  35416.66666667  38600.         350000.
  65416.66666667  75833.33333333  45083.33333333  32800.
  46000.          36084.          32416.66666667  68750.
  32666.66666667  36250.          28750.          41000.
  54000.          37780.          27800.          63333.33333333
  30500.          39800.          25800.          30200.
  56900.          81500.          74166.66666667  40416.66666667
 416666.66666667  57000.          49166.66666667  28333.33333333
  29583.33333333  30469.33333333  56800.          23400.
  60416.66666667  21500.         308333.33333333  76000.
  28300.          18000.          30666.66666667  32916.66666667
  31800.          41300.          43000.         158333.33333333
   2500.          52000.         600000.          51500.
  69166.66666667  21916.66666667  35750.          65750.
  61666.66666667  33083.33333333  23333.33333333 300000.
  28200.          35900.          62000.          35916.66666667
  29700.          35304.58333333  52333.33333333  37083.33333333
  72083.33333333  52916.66666667  32600.          64583.33333333
  25700.          65833.33333333  25374.          83250.
  35009.          73333.33333333  65583.33333333  37166.66666667
  20500.          34583.33333333  29800.          74750.
 400000.          40583.33333333  28800.          29430.
  34200.          62916.66666667  82500.          38416.66666667
  30559.          27600.          44666.66666667  46250.
  46800.          34500.          35166.66666667 480000.
  49083.33333333  25200.          47000.          52083.33333333
  32083.33333333  33250.          80833.33333333  32560.
  61250.          50600.          32900.          62800.
  26700.          49500.          28700.          32333.33333333
  74083.33333333   3083.33333333  50833.33333333  33166.66666667
  76666.66666667  30685.5         41250.          40750.
   7083.33333333  57083.33333333  86666.66666667  84166.66666667
  53333.33333333  36673.83333333 184470.5         19500.
  23200.          53000.          88333.33333333  29600.
  79800.          58000.         708333.33333333  96800.
  36500.         625000.          19000.          33045.16666667
  45666.66666667  27833.33333333  72250.          27916.66666667
  41500.         420000.          81666.66666667  24916.66666667
 160000.          40800.          33500.          38026.75
  42707.41666667  24800.          26166.66666667  15000.
  19800.          21666.66666667   1666.66666667  67500.
   3000.          29748.91666667  24166.66666667 360000.
  35666.66666667  45166.66666667  16666.66666667  59416.66666667
  69800.         250000.          90416.66666667  34830.
  65666.66666667 666666.66666667   2083.33333333  37900.
  65900.          29666.66666667  16000.          26400.
  59166.66666667  31333.33333333  44833.33333333  17000.
 460000.          19900.          29300.          35200.
  25400.          24833.33333333  30746.33333333  89166.66666667
  25916.66666667  33200.          38954.91666667  73250.
  12000.         291666.66666667  28666.66666667  35304.66666667
  68900.          35130.25        16400.          66000.
   8333.33333333  45500.          74998.33333333  29083.33333333
  18500.          26833.33333333  24600.          36049.08333333
  25083.33333333  47750.          34380.66666667  37700.
  35600.          48700.          32840.          39900.
  83125.          82166.66666667  40731.          29560.
  74666.66666667  20700.         390000.          26083.33333333
  31708.33333333  26250.          24583.33333333  33547.41666667
  35800.          30583.33333333  45800.          31583.33333333
  28600.          45250.          33071.08333333  17500.
  38800.          33580.          39700.          66800.
  73833.33333333  24200.          21800.           3333.33333333
 260000.          29833.33333333  32250.          38900.
 180000.           5000.           3166.66666667  54800.
  23700.          42833.33333333  33750.          60900.
  23166.66666667  59000.          36834.58333333 354166.66666667
  25250.          21600.         500000.         104166.66666667
  47354.58333333  31188.          56333.33333333  65800.
  41100.          37719.41666667  33700.          80083.33333333
  64000.          92000.            833.33333333  20083.33333333
  65166.66666667  45658.          47800.          40500.
  38074.58333333  37800.        ]

dp_ratio
No. of unique values: 9536
No. of unique values: [0.3139721  0.1064257  0.3869523  ... 0.08827105 0.3774142  0.12692656]

D3_within12months
No. of unique values: 2
No. of unique values: [0 1]

manufacturer_grp
No. of unique values: 5
No. of unique values: ['HONDA' 'SUZUKI' 'TVS' 'HERO' 'OTHERS']

channel_grp
No. of unique values: 2
No. of unique values: ['DEALER' 'NON_DEALER']

industry_grp
No. of unique values: 3
No. of unique values: ['OTHERS' 'APPARELS' 'AGRICULTURE']

branch_grp
No. of unique values: 11
No. of unique values: ['HARBOUR_MUMBAI' 'S_MUMBAI' 'WEST_DELHI' 'VIRAR' 'EASTERN_MUMBAI'
 'GHAZIABAD' 'OTHERS' 'N_WESTERN_MUMBAI' 'WESTERN_MUMBAI'
 'SOUTH_BANGALORE' 'THANE']

asset_model_grp
No. of unique values: 9
No. of unique values: ['OTHERS' 'ACCESS' 'NTORQ' 'JUPITER' 'AVENIS' 'ACTIVA' 'BURGMAN'
 'SPLENDOR' 'HF']

res_city_grp
No. of unique values: 6
No. of unique values: ['MUMBAI' 'DELHI' 'THANE' 'GHAZIABAD' 'BANGALORE' 'OTHERS']

res_state_grp
No. of unique values: 5
No. of unique values: ['MAHARASHTRA' 'DELHI' 'UTTAR_PRADESH' 'KARNATAKA' 'OTHERS']

res_resident_status_grp
No. of unique values: 2
No. of unique values: ['OWNED' 'RENTED']