In [1]:
import pandas as pd
import numpy as np

In [2]:
datafile_name = 'SCM_Data_21-02-25_Rev_input4.csv'
data_filepath = f'./Raw_Data/{datafile_name}'
raw_test_df = pd.read_csv(data_filepath)

In [5]:
raw_test_df.isnull().sum()

loan_account_no                     0
APPLICATION_NUMBER                  0
CIFNUMBER                           0
CUSTOMER_NUMBER                     0
Application Received Date           0
product_description                 0
Judgement date                      0
DECISION                            0
USER_COMMENT                       12
LOAN_ACCOUNT_NO_og               7182
LOAN_SANCTIONED_DATE             7182
LOAN_AMOUNT                      7182
DISBURSAL_DATE                   7182
LOAN_ASSET_COST                  7182
number_of_installments              0
ORIGINAL_EMI_AMOUNT              7182
interest_rate                       0
res_years_at_current_city           0
res_resident_status                 0
res_city                            2
res_state                           0
AGE                                 0
DATE_OF_BIRTH                       0
Gender                              0
Manufacturer                        0
Down_Payment_Amount                 0
Asset_Model                         0
Dealer                             20
Total_Income                        0
Branch_Name                         0
Occupation_Type                     0
Industry                           72
Marital_Status                      0
Nature_Of_Business                110
requested_loan_amount               0
bureau_score                        0
channel                         18623
res_years_at_current_address        0
years_in_occupation             18623
dtype: int64

In [7]:
raw_test_df.product_description.unique()

array(['2 Wheeler Loan', 'Used Two Wheeler Loan', 'E - Bike', 'Used Car'],
      dtype=object)

In [32]:
#raw_test_df['bureau_score'].unique()

In [2]:
# for column in raw_test_df.columns:
#     duplicates = raw_test_df[column].duplicated(keep=False)
#     print(f"Duplicates in {column}:")
#     print(len(raw_test_df[duplicates]))

In [34]:
# Identify duplicated values in column A
duplicated_A = scored_test_df.duplicated(subset='loan_account_no_og', keep=False)

# Identify rows with zero values in column B
zero_B = scored_test_df['res_years_at_current_city'] == 0

# Combine both conditions
condition = duplicated_A & zero_B

# Drop the rows that meet both conditions
raw_df_cleaned = scored_test_df.drop(scored_test_df[condition].index)

In [3]:
# for column in raw_df_cleaned.columns:
#     duplicates = raw_df_cleaned[column].duplicated(keep=False)
#     print(f"Duplicates in {column}:")
#     print(len(raw_df_cleaned[duplicates]))

In [4]:
#raw_df_cleaned.loan_account_no_og.value_counts()

In [5]:
#raw_df_cleaned[raw_df_cleaned.loan_account_no_og == 'TW01020101000002291476']

In [45]:
datafile_name = 'SCM_Data_21-02-25_Rev_input_scored_all.csv'
data_filepath = f'./Test_Results/{datafile_name}'
scored_test_df = pd.read_csv(data_filepath)

C:\Users\emanlangit.AEONCREDIT\AppData\Local\Temp\ipykernel_21772\3765837357.py:3: DtypeWarning: Columns (9,10,12,43) have mixed types. Specify dtype option on import or set low_memory=False.
  scored_test_df = pd.read_csv(data_filepath)

In [46]:
scored_test_df.columns

Index(['loan_account_no', 'APPLICATION_NUMBER', 'CIFNUMBER', 'CUSTOMER_NUMBER',
       'Application Received Date', 'product_description', 'Judgement date',
       'DECISION', 'USER_COMMENT', 'LOAN_ACCOUNT_NO_og',
       'LOAN_SANCTIONED_DATE', 'LOAN_AMOUNT', 'DISBURSAL_DATE',
       'LOAN_ASSETCOST', 'number_of_installments', 'ORIGINAL_EMI_AMOUNT',
       'interest_rate', 'res_years_at_current_city', 'res_resident_status',
       'res_city', 'res_state', 'AGE', 'DATE_OF_BIRTH', 'Gender',
       'Manufacturer', 'Down_Payment_Amount', 'Asset_Model', 'Dealer',
       'Total_Income', 'Branch_Name', 'Occupation_Type', 'Industry',
       'Marital_Status', 'Nature_Of_Business', 'loan_asset_cost',
       'bureau_score', 'channel', 'res_years_at_current_address',
       'years_in_occupation', 'Unnamed: 39', 'bureau_score.1', 'probability',
       'Risk Class', 'loan_account_no_og', 'CIBIL_group', 'D3_within12months'],
      dtype='object')

In [47]:
scored_test_df.head()

,loan_account_no,APPLICATION_NUMBER,CIFNUMBER,CUSTOMER_NUMBER,Application Received Date,product_description,Judgement date,DECISION,USER_COMMENT,LOAN_ACCOUNT_NO_og,...,channel,res_years_at_current_address,years_in_occupation,Unnamed: 39,bureau_score.1,probability,Risk Class,loan_account_no_og,CIBIL_group,D3_within12months
0,ARBIT14359,APPL00275521,GLBCUST00000238563,CUST00246321,1/22/2024,E - Bike,1/24/2024,Approve,TEST PROGRAM FOR CD TW- scheme changed,EB01020101000002290776,...,NaN,NaN,NaN,NaN,-1,0.618895,Very High Risk,EB01020101000002290776,NTC,NaN
1,ARBIT3264,APPL00285854,GLBCUST00000247516,CUST00255707,2/19/2024,E - Bike,2/21/2024,Approve,NO TEST CODE | VEHICLE VARIANT CHANGES DONE,EB01020101000002294989,...,NaN,NaN,NaN,NaN,716,0.219521,Low Risk,EB01020101000002294989,low_CIBIL,NaN
2,ARBIT2335,APPL00285689,GLBCUST00000247372,CUST00255546,2/18/2024,E - Bike,3/1/2024,Approve,NO TEST CODE | NAME CHANGE DONE | SCHEME CHANG...,EB01020101000002296875,...,NaN,NaN,NaN,NaN,721,0.393265,Middle Risk,EB01020101000002296875,low_CIBIL,NaN
3,ARBIT2336,APPL00285689,GLBCUST00000247372,CUST00255546,2/18/2024,E - Bike,3/1/2024,Approve,NO TEST CODE | NAME CHANGE DONE | SCHEME CHANG...,EB01020101000002296875,...,NaN,NaN,NaN,NaN,721,0.373008,Middle Risk,EB01020101000002296875,low_CIBIL,NaN
4,ARBIT2725,APPL00269936,GLBCUST00000234301,CUST00241297,1/8/2024,E - Bike,1/9/2024,Approve,NO TEST CODE,EB01020102000002288511,...,NaN,NaN,NaN,NaN,738,0.055713,Middle Risk,EB01020102000002288511,mid_CIBIL,NaN

In [52]:
#df_cleaned.D3_within12months.value_counts()

In [49]:
scored_test_df.D3_within12months.value_counts()

D3_within12months
0.0    9109
1.0     613
Name: count, dtype: int64

In [51]:
#df_cleaned.loan_account_no_og.nunique()

In [53]:
scored_test_df.loan_account_no_og.nunique()

9524

In [11]:
target_filename =  'test_tags.csv'
target_filepath = f'./Raw_Data/{target_filename}'

new_col12m = pd.read_csv(target_filepath)

In [54]:
# Identify duplicated values in column A
duplicated_A = scored_test_df.duplicated(subset='loan_account_no_og', keep=False)

# # Identify rows with zero values in column B
# zero_B = scored_test_df['res_years_at_current_city'] == 0

# Combine both conditions
#condition = duplicated_A & zero_B

# Drop the rows that meet both conditions
raw_drop_dups = scored_test_df.drop(scored_test_df[duplicated_A].index)

#print(df_cleaned)

In [15]:
test_LANs_valid = set(new_col12m.loan_account_no.unique())

In [16]:
test_LANs_all = set(scored_test_df.loan_account_no_og.unique())

In [17]:
len(test_LANs_valid) #8885 valid (old test)

8885

In [18]:
len(test_LANs_all) #9525 LANs

9525

In [19]:
in_both = test_LANs_valid.intersection(test_LANs_all)
len(in_both)

8154

In [55]:
raw_drop_dups.loan_account_no_og.nunique()

7609

In [56]:
huh = raw_drop_dups[raw_drop_dups.DECISION == 'Approve']

In [57]:
huh.D3_within12months.value_counts()

D3_within12months
0.0    6166
1.0     421
Name: count, dtype: int64

In [58]:
huh.D3_within12months.value_counts().sum()

6587

In [59]:
huh_final = huh.dropna(subset=['D3_within12months'])

In [60]:
huh_final.shape

(6587, 46)

In [61]:
huh_final.to_csv(f'final_LAN_test_tagged_no_dup_TW_only.csv', index=False)

In [32]:
valid_minus_all = test_LANs_valid - test_LANs_all

In [33]:
len(valid_minus_all)

731

In [34]:
8154 + 731

8885

In [42]:
keep_one_copy = huh_final[huh_final.product_description == '2 Wheeler Loan']

In [39]:
huh.product_description.unique()

array(['E - Bike', '2 Wheeler Loan', 'Used Car', 'Used Two Wheeler Loan'],
      dtype=object)

In [4]:
raw_test_df.shape

(18623, 39)

In [61]:
TW_df = raw_test_df[raw_test_df.product_description == '2 Wheeler Loan']

In [62]:
TW_df.shape

(17484, 39)

In [50]:
TW_df.APPLICATION_NUMBER

0        APPL00269166
1        APPL00273869
2        APPL00288662
3        APPL00289273
4        APPL00275395
             ...
18618    APPL00283403
18619    APPL00268824
18620    APPL00287866
18621    APPL00283505
18622    APPL00274842
Name: APPLICATION_NUMBER, Length: 17484, dtype: object

In [51]:
duplicated_A = TW_df.duplicated(subset='APPLICATION_NUMBER', keep =False)

# Drop the rows that meet both conditions
TW_no_dup = TW_df.drop(TW_df[duplicated_A].index)

In [52]:
duplicated_A.sum()

6045

In [55]:
TW_no_dup.shape

(11439, 39)

In [56]:
TW_no_dup.shape

(11439, 39)

In [41]:
TW_no_dup.columns

Index(['loan_account_no', 'APPLICATION_NUMBER', 'CIFNUMBER', 'CUSTOMER_NUMBER',
       'Application Received Date', 'product_description', 'Judgement date',
       'DECISION', 'USER_COMMENT', 'LOAN_ACCOUNT_NO_og',
       'LOAN_SANCTIONED_DATE', 'LOAN_AMOUNT', 'DISBURSAL_DATE',
       'LOAN_ASSETCOST', 'number_of_installments', 'ORIGINAL_EMI_AMOUNT',
       'interest_rate', 'res_years_at_current_city', 'res_resident_status',
       'res_city', 'res_state', 'AGE', 'DATE_OF_BIRTH', 'Gender',
       'Manufacturer', 'Down_Payment_Amount', 'Asset_Model', 'Dealer',
       'Total_Income', 'Branch_Name', 'Occupation_Type', 'Industry',
       'Marital_Status', 'Nature_Of_Business', 'loan_asset_cost',
       'bureau_score', 'channel', 'res_years_at_current_address',
       'years_in_occupation'],
      dtype='object')

In [58]:
misisng_TW_no_dup = TW_no_dup[TW_no_dup.LOAN_ASSETCOST.isna()]

In [60]:
misisng_TW_no_dup.DECISION.value_counts()

DECISION
Reject     3431
Approve    1080
Name: count, dtype: int64

In [63]:
#divergence
duplicated_A = TW_df.duplicated(subset='LOAN_ACCOUNT_NO_og', keep =False)

# Drop the rows that meet both conditions
TW_no_dup = TW_df.drop(TW_df[duplicated_A].index)

In [64]:
TW_no_dup

,loan_account_no,APPLICATION_NUMBER,CIFNUMBER,CUSTOMER_NUMBER,Application Received Date,product_description,Judgement date,DECISION,USER_COMMENT,LOAN_ACCOUNT_NO_og,...,Branch_Name,Occupation_Type,Industry,Marital_Status,Nature_Of_Business,loan_asset_cost,bureau_score,channel,res_years_at_current_address,years_in_occupation
0,ARBIT1,APPL00269166,GLBCUST00000233038,CUST00240605,1/5/2024,2 Wheeler Loan,1/8/2024,Approve,NO TE CODE Model an La changed & as per pan ca...,TW01010101000002287379,...,Eastern Mumbai,Self Employed Non Professional,Others,Married,Others,126000,748,NaN,NaN,NaN
1,ARBIT2,APPL00273869,GLBCUST00000237107,CUST00244824,1/17/2024,2 Wheeler Loan,1/17/2024,Approve,NO TEST CODE Change the loan amount dp amount ...,TW01010107000002289052,...,Western Mumbai,Self Employed Non Professional,Apparels,Married,Services,86500,784,NaN,NaN,NaN
4,ARBIT5,APPL00275395,GLBCUST00000238449,CUST00246209,1/21/2024,2 Wheeler Loan,1/25/2024,Approve,no test code - Name Change,TW01010106000002290584,...,Virar,Self Employed Non Professional,Others,Married,Others,96000,746,NaN,NaN,NaN
6,ARBIT7,APPL00277554,GLBCUST00000240349,CUST00248144,1/27/2024,2 Wheeler Loan,1/31/2024,Approve,No test code Change the model name loan amount...,TW01010107000002291712,...,Western Mumbai,Self Employed Non Professional,Apparels,Married,Services,130000,-1,NaN,NaN,NaN
7,ARBIT8,APPL00279454,GLBCUST00000242011,CUST00249873,2/1/2024,2 Wheeler Loan,2/9/2024,Approve,Case approved on DP basis (25%) - DEVIATION AP...,TW01010104000002294127,...,S Mumbai,Self Employed Non Professional,Others,Single,Others,108000,761,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17702,ARBIT17703,APPL00267971,GLBCUST00000232009,CUST00239537,1/2/2024,2 Wheeler Loan,1/5/2024,Approve,NO TEST CODE,TW01030105000002286440,...,West Delhi,Salaried,Others,Married,Services,135000,775,NaN,NaN,NaN
17703,ARBIT17704,APPL00286713,GLBCUST00000248253,CUST00256514,2/21/2024,2 Wheeler Loan,3/5/2024,Approve,TEST PROGRAM FOR CD-TW | TENURE CHANGE DONE,TW01020101000002298428,...,East Bangalore,Salaried,Others,Married,Others,111000,-1,NaN,NaN,NaN
17704,ARBIT17705,APPL00271507,GLBCUST00000235095,CUST00242723,1/11/2024,2 Wheeler Loan,1/11/2024,Approve,No test code,TW01010103000002288457,...,N Western Mumbai,Salaried,Others,Married,Services,60000,745,NaN,NaN,NaN
17706,ARBIT17707,APPL00281438,GLBCUST00000243693,CUST00251667,2/7/2024,2 Wheeler Loan,2/7/2024,Approve,NO TEST CODE,TW01010103000002292968,...,N Western Mumbai,Self Employed Non Professional,Others,Single,Services,83000,752,NaN,NaN,NaN
17710,ARBIT17711,APPL00287911,GLBCUST00000267244,CUST00257640,2/24/2024,2 Wheeler Loan,4/23/2024,Approve,NO TEST CODE,TW01010105000002306301,...,Thane,Self Employed Non Professional,Agriculture,Married,Services,137700,-1,NaN,NaN,NaN